.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    background: #fff;
    padding-bottom: 30px;
    border-radius: 10px;
}

.title {
    color: cornflowerblue;
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
    align-self: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
}

.button {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.input input {
    height: 40px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 20px;
}

.notice {
    padding-left: 100px;
    margin-top: 20px;
    color: gray;
    font-size: 13px;
}

.notice span {
    color: cornflowerblue;
    cursor: pointer;
}

.success {
    padding-left: 100px;
    margin-top: 30px;
}